<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./media/fontawesome-pro-6.0.0-web/css/all.min.css">

</head>

<body>

    <section>
        <div class="relative w-screen h-screen">
            <img src="https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="" class="object-cover w-screen h-screen">
        </div>

        <!-- absolute -->
        <div class="absolute top-0 ">
            <div class="z-10 w-screen h-screen bg-black/40">
                <!-- search -->
                <div class="absolute top-0 z-20 w-screen h-screen">
                    <div class="flex w-full h-screen p-4">
                        <div class="flex justify-center w-full mx-auto my-auto">
                            <button>
                                <a href="#">
                                    <i class="p-4 my-auto bg-white fa-regular fa-magnifying-glass text-red"></i>
                                </a>
                            </button>
                            <input type="search" name="" id="" class="flex w-full max-w-3xl px-4 font-title-regular"
                                placeholder="Find a picture of your imagination">
                        </div>

                    </div>
                </div>
                <!-- end search -->

            </div>
        </div>
        <!-- end absolute -->
    </section>
</body>

</html>